html, body {
    color: #666666;
}

h1 {
    color: #e75e8d !important;
}

#login {
    margin-top:5px;
}

#login a {
    padding: 8px 20px;
}

.module-page {
    margin-top: 0 !important;
}

/* Running stats */

.running-stats .card-header {
    min-height: 125px;
    height: 125px;
    margin-bottom: 20px;
}

/* Event on homepage */

h3.eventTitle {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
}

/* Events on overview */
div#events .row {
    margin-bottom: 30px;
}

.eventItem .item {
    position: relative;
    width: 100%;
}

img.finishedStamp {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 175px;
    height: auto;
    z-index: 9;
}

/** Tweets homepage **/
.tweet-item {
    min-height:300px;
    height:300px;
}

/** Games homepage **/
.gaming-library h4 {
    font-size: 20px;
}

/** Events page **/
.event-select {
 padding: 15px 15px !important;
}

/** buttons **/
.btn-cyborg, .btn-cyborg:hover {
    background-color: #e75e8d;
    border-color: #e75e8d;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card-header {
    color:#e75e8d;
}

.event-pop-up {
    background-color: #27292a;
}

/** Pagination **/
ul.pagination li.page-item a.page-link {
    background-color: #27292a;
    border-color: #343438;
    color:#ffffff;
}

ul.pagination li.page-item a.page-link:hover {
    background-color: #F99;
}


ul.pagination li.active a.page-link {
    background-color: #e75e8d;
}

/** Blogs **/
.blogItems .item {
    height:350px;
    min-height:350px;
}

/** Footer **/
.social-icons {
    margin: 0 0 0.75rem;
    padding: 0;
}

.social-icons li {
    list-style: none;
    display: inline-block;
}

.social-icons li + li {
    margin-left: 0.25rem;
}

.social-icons a {
    display: block;
    color: #fff;
    font-size: 1.85rem;
    padding: 0.37rem 0.5rem 0.5rem 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    transition: background .3s ease-in-out;
}

.social-icons a i {
    vertical-align: text-top;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-pinterest {
    color: #bd081c;
}

.fa-google-plus {
    color: #F34A38;
}

.fa-youtube {
    color: #ff0000;
}

.copyright {
    margin:0 0 10px 0;
    padding:0;
}